.content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-self: center;
    max-width: 90%;
    width: 100%;
}

.category {
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;

    grid-template-columns: auto auto auto;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 10px;
    grid-auto-rows: min-content;
    justify-content: center;
}

.drawing-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.drawing-item .drawing-title {
    font-size: 14px;
    margin-bottom: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 3px;
}


.drawing-item img {
    height: 280px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: zoom-in;
    transition: 0.2s;
}

.drawing-item img:hover {
    opacity: 0.7;
}



#preview {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
}

#preview img {
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

@media (max-width: 1602px) {
    .content {
        max-width: 80%;
    }
}
@media (max-width: 1757px) {
    .content {
        max-width: 80%;
    }
}
@media (max-width: 1537px) {
    .content {
        max-width: 90%;
    }
}

@media (max-width: 511px) {
    .content {
        max-width: 90%;
    }
    .category {
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .drawing-item img {
        width: 100%;
        height: initial;
    }
}