footer {
  display: flex;
  align-items: center;
  background-color: var(--footer-bg-color);
  min-height: 35px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: static;
  bottom:0;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 11;
  box-shadow: 0 0 10px black;
  text-align: center;
  margin-top: 20px;
}