header {
    display: flex;
    align-items: center;
    background-color: var(--header-bg-color);
    height: 50px;
    padding-left: 8px;
    padding-right: 8px;
    flex-shrink: 0;

    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px black;
}

header .title {
    position: absolute;
    color: var(--primary-color);
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 24px;
    font-family: 'Courgette', cursive;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
    border-radius: 8px;
}

header .title:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

header .link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
    border-radius: 8px;
    text-wrap: nowrap;
}


header .link:hover {
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.1);
}

header .link.active {
    background-color: var(--primary-color);
    color: black;
}

header .link .material-icons {
    margin-right: 5px;
    font-size: 18px;
}



header .links {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 690px) {
    header .title {
        position: relative;
        font-size: 18px;
    }
    header .links {
        margin-right: 0;
        margin-left: auto;
    }
}
@media (max-width: 600px) {
    header .title {
        font-size: 24px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    header .links {
        margin-right: auto;
        margin-left: auto;
    }
    header {
        height: 90px;
        flex-direction: column;
    }
}

@media (max-width: 540px) {
    header {
        height: initial;
        padding-bottom: 5px;
    }
    header .links {
        flex-wrap: wrap;
        justify-content: center;
    }
}