.container {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 0.2s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.drawings {
  --aspect: 8/9;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(227px, 1fr));
}

@media (max-width: 443px) {
  .drawings {
    grid-template-columns: repeat(auto-fill, minmax(129px, 1fr));
  }
}
@media (max-width: 497px) {
  .drawings {
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  }
}
