.outerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.container {
  overflow-y: auto;
  min-width: 150px;
  max-width: 239px;
  max-height: 140px;
  padding: 12px;
  border-radius: 16px;
  background-color: var(--about-me-section-bg);
  scrollbar-color: var(--scrollbar-color) transparent;
  scrollbar-width: thin;

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 16px;
    gap: 6px;
  }

  .item {
    display: flex;
    align-items: center;
    opacity: 0.8;
    gap: 6px;
  }
}

@media (max-width: 1300px) {
  .outerContainer {
    align-items: start;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
  }
  .container {
    flex: 1;
  }
}
